<div class="container">
  <form method="POST" action="/updateFriend"></form>
    <h1 class="page-header">Friends</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><% friendList.forEach(function (friend) { %> </strong></h3>
        <p><%= friend %></p>
        <% }) %>
      </li>
    </ul>
  </form>
</div>
